<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>GitHub Topic 検索</title>
</head>
<body>
<h1>GitHub Topic 検索</h1>
<div id="app">
	<p>GitHubのTopicを検索します。<p>
	<select v-model="current">
		<option disabled value="">選択してください</option>
		<option v-for="topic in topics" v-bind:value="topic.value" >
			{{topic.name}}
		</option>
	</select>
	<div v-for="item in list">{{ item.full_name}}</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
<script src="main.js"></script>	
</body>
</html>